/* #region Common */

:root {
    --pl-dark: #000000;
    --pl-btn-seconday: #2D64E6;
    --pl-bg-secondary-heavy: #161C3B;
    --pl-bg-dark-light: #1F1F1F;
    --pl-secondary-light: #4F9EDD;
    --pl-bg-seconday-soft: #00439C;
    --pl-btn-dark: #363636;
    --pl-dark-soft: #7E7E7E;
    --pl-bg-dark-soft: #BEBCBB;
    --pl-btn-hot: #CD3D0F;
    --pl-btn-plus: #D9DADC;
    --pl-light: #FFFFFF;

    --pl-h2: 40px;
    --pl-h6: 12px;
    --pl-p: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

h2 {
    font-size: var(--pl-h2);
}

h6 {
    font-size: var(--pl-h6);
}

p {
    font-size: var(--pl-p);
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.my_btn {
    border-radius: 1rem;
    color: var(--pl-light);
}

/* #endregion Common */

/* #region Header */
#site_header {
    position: fixed;
    top: 0%;
    width: 100%;
    overflow: hidden;
    z-index: 5000;
}

.header_bottom {
    background-color: var(--pl-light);
}

.brand {
    background-color: var(--pl-dark);
}

.brand img {
    width: 50px;
}

.nav-item img {
    width: 25px;
}

.register {
    display: flex;
    align-items: center;
}

.nav-item button {
    background-color: var(--pl-btn-dark);
}

.lens {
    width: 30px;
}
/* #endregion Header */

/* #region Main */
#site_main {
    margin-top: 84px;
}

/* #region Jumbotron */
.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 675px;
    color: var(--pl-light);
    display: flex;
    align-items: flex-end;
}

.jumbotron .wrapper {
    margin: 0 auto 1.5rem auto;
}

.jumbotron img {
    width: 300px;
}

.jumbotron .my_btn {
    background-color: var(--pl-btn-hot);
}
/* #endregion Jumbotron */

/* #region Play5 */
.slots .col:first-child img {
    border: 3px solid var(--pl-secondary-light);
    background-color: var(--pl-light);
    padding: 0.1rem;
}

.play5 h6 {
    color: var(--pl-secondary-light);
    margin-bottom: 0;
}

.play5 p {
    color: var(--pl-dark-soft);
}

.play5 .my_btn {
    background-color: var(--pl-btn-seconday);
}

.play5 .products img {
    width: 200px;
}
/* #endregion Play5 */

/* #region Takes_two */
.takes_two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 965px; */
    color: var(--pl-light);
    display: flex;
    align-items: center;
}

.takes_two .wrapper {
    margin: 0 auto 1.5rem auto;
}

.takes_two img {
    width: 300px;
}

.takes_two .my_btn {
    background-color: var(--pl-btn-hot);
}
/* #endregion Takes_two */

/* #region New_come_out */
.new_come_out {
    background-color: var(--pl-bg-dark-light);
    color: var(--pl-light);
}
/* #endregion New_come_out */

/* #region Play4 */
.play4 p {
    color: var(--pl-dark-soft);
}

.play4 .my_btn {
    background-color: var(--pl-btn-seconday);
}
/* #endregion Play4 */

/* #region Call_to_action */
.call_to_action {
    background-color: var(--pl-bg-dark-soft);
}

.call_to_action .logo_plus {
    width: 350px;
}

.call_to_action .my_btn {
    background-color: var(--pl-btn-plus);
    color: var(--pl-btn-seconday);
}
/* #endregion Call_to_action */

/* #region Sales */
.sales p {
    color: var(--pl-dark-soft);
}
/* #endregion Sales */

/* #region Play_now */
.play_now {
    background-color: var(--pl-bg-secondary-heavy);
    color: var(--pl-light);
}

.play_now .logo_plus {
    width: 350px;
}

.play_now .my_btn {
    background-color: var(--pl-light);
    color: var(--pl-dark);
}
/* #endregion Play_now */

/* #region Social */

/* #endregion Social */

/* #endregion Main */

/* #region Footer */
.credits {
    background-color: var(--pl-bg-seconday-soft);
    color: var(--pl-light);
}

.logo_play {
    width: 150px;
}

.language {
    width: 20px;
}

.credits ul {
    list-style: none;
}

.logo_sie {
    width: 150px;
}

.credits p {
    font-size: 15px;
}
/* #endregion Footer */