/* #region Common */

:root {
    --pl-dark: #000000;
    --pl-btn-seconday: #2D64E6;
    --pl-bg-secondary-heavy: #161C3B;
    --pl-bg-dark-light: #1F1F1F;
    --pl-secondary-light: #4F9EDD;
    --pl-bg-seconday-soft: #00439C;
    --pl-btn-dark: #363636;
    --pl-dark-soft: #7E7E7E;
    --pl-bg-dark-soft: #BEBCBB;
    --pl-btn-hot: #CD3D0F;
    --pl-light: #FFFFFF;

    --pl-h6: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.my_btn {
    border-radius: 1rem;
    color: var(--pl-light);
}

/* #endregion Common */

/* #region Header */
.brand {
    background-color: var(--pl-dark);
}

.brand img {
    width: 50px;
}

.navbar-collapse {
    /* justify-content: space-between; */
    display: contents;
}

.navbar-collapse ul.left {
    display: contents;
}

.nav-item img {
    width: 25px;
}

.nav-item button {
    background-color: var(--pl-btn-dark);
}
/* #endregion Header */

/* #region Main */

/* #region Jumbotron */
.jumbotron {
    background-image: url("../img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 675px;
    color: var(--pl-light);
    display: flex;
    align-items: flex-end;
}

.jumbotron .wrapper {
    margin: 0 auto 1.5rem auto;
}

.jumbotron img {
    width: 300px;
}

.jumbotron .my_btn {
    background-color: var(--pl-btn-hot);
}
/* #endregion Jumbotron */

/* #region Play5 */
.play5 .col:first-child img {
    border: 3px solid var(--pl-secondary-light);
    padding: 0.1rem;
}

/* #endregion Play5 */
/* #endregion Main */