/* #region Common */

:root {
    background: #000000;
    background: #00439C;
    background: #161C3B;
    background: #1F1F1F;
    background: #242424;
    background: #2D64E6;
    background: #318CD7;
    background: #363636;
    background: #7B7B7B;
    background: #BEBCBB;
    background: #CD3D0F;
    background: #D9DADC;
    background: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #region Common */